name: Publish containers

on:
  release:
    types:
      - published
  workflow_dispatch:


jobs:
    Upload:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

          - name: Free Disk Space (Ubuntu)
            uses: jlumbroso/free-disk-space@main
            with:
              # this might remove tools that are actually needed,
              # if set to "true" but frees about 6 GB
              tool-cache: false
              
              # all of these default to true, but feel free to set to
              # "false" if necessary for your workflow
              android: true
              dotnet: true
              haskell: true
              large-packages: false
              docker-images: false
              swap-storage: true
    
          - name: Download artifact
            id: download-artifact
            uses: dawidd6/action-download-artifact@v11
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              workflow: build_and_test.yml
              name: built_containers
              skip_unpack: false
    
          - name: move artifact
            run: |
              mv ./containers.tar.gz ./containers/containers.tar.gz
    
          - name: unzip built containers
            run: |
              cd ./containers/
              tar -xzvf containers.tar.gz
              cd ..
    
          - name: Setup Mamba
            uses: mamba-org/setup-micromamba@v2
            with:
              cache-environment: true
              post-cleanup: 'all'
              environment-file: env.yml
              init-shell: bash
          
          - name: Install local python package
            run: |
              pip install . --no-deps
            shell: micromamba-shell {0}
    
          - name: Login to GitHub Container Registry
            uses: docker/login-action@v3
            with:
              registry: ghcr.io
              username: ${{ github.actor }}
              password: ${{ secrets.GITHUB_TOKEN }}
          
          - name: Add artifacted containers to docker daemon
            run: |
              python containers/add_OCI_to_docker_engine.py
            shell: micromamba-shell {0}
          
          - name: tag and push containers
            run: |
              python containers/tag_and_push_containers.py
            shell: micromamba-shell {0}